<h2>
    TIPO DE PERSONAS
</h2>


<table mat-table [dataSource]="tipoPersonaA" class="mat-elevation-z8" style="width:
    100%;">
    <ng-container matColumnDef="idTipoPersona">
        <th mat-header-cell *matHeaderCellDef>N°</th>
        <td mat-cell *matCellDef="let tipoPerson"> {{tipoPerson.idTipoPersona}} </td>
    </ng-container>
    <ng-container matColumnDef="tipoPersona">
        <th mat-header-cell *matHeaderCellDef>Tipo de Persona</th>
        <td mat-cell *matCellDef="let tipoPerson"> {{tipoPerson.tipoPersona}} </td>
    </ng-container>
    <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let tipoPerson">
            <a mat-icon-button [routerLink]="['editar', tipoPerson.idTipoPersona]">
                <mat-icon color="primary">edit</mat-icon>
            </a>
        </td>
    </ng-container>
    <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let tipoPerson">
            <button mat-icon-button>
         
                <mat-icon color="warn"(click)="eliminarTipoPersona(tipoPerson)" >delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['idTipoPersona', 'tipoPersona', 'editar',
        'eliminar']"></tr>
    <tr mat-row *matRowDef="let fila; columns: ['idTipoPersona', 'tipoPersona',
        'editar', 'eliminar'];"></tr>
</table>
<br>
<p>
    <a mat-list-item routerLink="agregar">
        <button mat-raised-button color="primary">Agregar Tipo
        <mat-icon color="accent">add_circle</mat-icon>

        </button>

    </a>
</p>