<h2>
    COLOR
</h2>


<table mat-table [dataSource]="colorA" class="mat-elevation-z8" style="width:
    100%;">
    <ng-container matColumnDef="idColor">
        <th mat-header-cell *matHeaderCellDef>N°</th>
        <td mat-cell *matCellDef="let color"> {{color.idColor}} </td>
    </ng-container>
    <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef>Color</th>
        <td mat-cell *matCellDef="let color"> {{color.color}} </td>
    </ng-container>
    <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let color">
            <a mat-icon-button [routerLink]="['editar', color.idColor]">
                <mat-icon color="primary">edit</mat-icon>
            </a>
        </td>
    </ng-container>
    <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let color">
            <button mat-icon-button>
         
                <mat-icon color="warn"(click)="eliminarColor(color)" >delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['idColor', 'color', 'editar',
        'eliminar']"></tr>
    <tr mat-row *matRowDef="let fila; columns: ['idColor', 'color',
        'editar', 'eliminar'];"></tr>
</table>
<br>
<p>
    <a mat-list-item routerLink="agregar">
        <button mat-raised-button color="primary">Agregar Color
            <mat-icon color="accent">add_circle</mat-icon>
        </button>


    </a>
</p>